{{#if errorMessage}}
<div class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
{{/if}}

{{#if successMessage}}
<div class="alert alert-success" role="alert">
  {{successMessage}}
</div>
{{/if}}

{{#if infoMessage}}
<div class="alert alert-success" role="alert">
  {{infoMessage}}
</div>
{{/if}}

<div class="container">
    {{outlet}}
</div>
